* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://c0.wallpaperflare.com/preview/467/312/839/flower-background-floral-border.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.table1 caption {
  font-size: x-large;
}
.table1 th {
  font-size: larger;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
tbody {
  display: flex;
  justify-content: center;
}
