*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2018/01/17/18/43/book-3088775_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.flex{
    display: flex;
    justify-content: flex-end;
    margin-right: 300px;
    color:black;
    font-size: x-large;
    text-decoration: none;

}
.flex table a{
    text-decoration: none;

}
a:link{
    color: blue;
}
a:visited{
    color: brown;
}
a:hover{
    cursor: pointer;
    color: red;
}

.table{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 400px;
}
