@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Barlow&family=Barlow+Condensed:wght@400;700&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../../practice/fylo-data-storage-component-master/fylo-data-storage-component-master/images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  margin-bottom: 100px;
  margin-left: 100px;
  background-color: hsl(229, 57%, 11%);
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.section_part {
  display: flex;
  padding-top: 250px;
  padding-left: 200px;
}

.right {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: hsl(228, 56%, 26%);
  justify-content: center;
  padding-left: 40px;
  border-radius: 10px;
  border-top-right-radius: 100px;
  padding-left: 50px;
}
.file_folder_upload {
  margin-left: -30px;
  display: flex;
  align-items: center;
}
.logo {
  width: 8rem;
  height: 6rem;
  background-image: url(../../practice/fylo-data-storage-component-master/fylo-data-storage-component-master/images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -14px;
}
.outer {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: hsl(229, 57%, 11%);
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
  margin-left: 10px;
}
.file {
  margin-top: 20px;
  margin-left: 10px;
  width: 2rem;
  height: 3rem;
  background-image: url(../../practice/fylo-data-storage-component-master/fylo-data-storage-component-master/images/icon-document.svg);
  background-repeat: no-repeat;
}
.folder {
  margin-top: 20px;
  margin-left: 8px;
  margin-bottom: -5px;
  width: 2rem;
  height: 3rem;
  background-image: url(../../practice/fylo-data-storage-component-master/fylo-data-storage-component-master/images/icon-folder.svg);
  background-repeat: no-repeat;
}
.upload {
  margin-top: 20px;
  margin-left: 8px;
  margin-bottom: -5px;

  width: 2rem;
  height: 3rem;
  background-image: url(../../practice/fylo-data-storage-component-master/fylo-data-storage-component-master/images/icon-upload.svg);
  background-repeat: no-repeat;
}
.left {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  width: 450px;
  height: 150px;
  margin-left: 30px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: hsl(228, 56%, 26%);
  color: hsl(243, 100%, 93%);
  justify-content: space-around;
  border-radius: 10px;
}
.alter {
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
}
.play {
  padding: 2px;
  border-radius: 10px;
  background-color: hsl(229, 57%, 11%);
  margin-top: -30px;
}
.color {
  margin-right: 100px;
  border-radius: 10px;
  background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  padding: 2px;
}
.ball {
  background-color: white;
  padding: 5px;
  margin-left: 265px;
  border-radius: 80px;
}
.popup {
  display: flex;
  align-items: center;
  width: 150px;
  padding-left: 20px;
  margin-left: -180px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
}
#no {
  font-size: x-large;
  font-weight: bold;
  padding-right: 5px;
}
.folder,
.file,
.upload,
.popup,
.play:hover {
  cursor: pointer;
}
span {
  font-weight: bold;
}
