:root{
    --container-box-shadow:-2px 10px 24px -1px hsl(208, 11%, 55%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../../practice/huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:  hsl(257, 40%, 49%);
}
.box1{
    width: 100%;
    height: 800px;
    /* background-image: url(../../practice/huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(193, 100%, 96%); */

    /* background-attachment: fixed; */

    
}
.head{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    padding: 150px;
    width: 200px;
    height: 80px;
    background-image: url(../../practice/huddle-landing-page-with-single-introductory-section-master/images/logo.svg);
    background-repeat: no-repeat;
    margin: 60px;

}
.try{
    color: hsl(192, 100%, 9%);
    background-color: white;
    border-radius: 30px;
    height: 70px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    margin: 40px;
    font-weight:bold;
}
.foot
{
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.left{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 70px;

}
#heading1,#heading2,#heading3,#heading4{
    font-size:40px;
    padding-bottom: 30px;
    color: white;
}
#para1,#para2,#para3,#para4{
    font-size: larger;
    padding-bottom: 80px;
    color: gainsboro;
    

}
.button{
    border-radius: 60px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    color:  hsl(257, 40%, 49%);
    background-color:white;


}
.desktop-image{
    width: 800px;
   height: 580px; 
   background-image: url(../../practice/huddle-landing-page-with-single-introductory-section-master/images/illustration-mockups.svg);
   background-repeat: no-repeat;
   background-size: cover;
   /* background-attachment: fixed; */
    margin-left: 60px;
}
.last4{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10px;
    /* justify-content:flex-end; */
    /* margin-left: 100px; */
    /* justify-content: space-around; */
    align-items: flex-end;
    margin-top: 30px;
    padding-left: 1100px;
    padding-right: 50px;
    justify-content: space-around;


}
.fb{
    width: 2rem;
    height: 2rem;
    background-image: url("../../images/logo-facebook.svg");
    background-repeat: no-repeat;
}
.tw{
    width: 2rem;
    height: 2rem;
    background-image: url("../../images/logo-twitter.svg");
    background-repeat: no-repeat;
    padding-right: 30px;
}

.in{
    width: 2rem;
    height: 2rem;
    background-image: url("../../images/logo-instagram.svg");
    background-repeat: no-repeat;
}