@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Barlow&family=Barlow+Condensed:wght@400;700&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Montserrat:wght@700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&family=Rubik:wght@400;500;700&display=swap");
:root {
  --container-box-shadow: -2px 10px 24px -1px hsl(208, 11%, 55%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
section {
  width: 100vw;
}
.box {
  width: 100%;
  height: 3500px;
  display: flex;
  flex-direction: column;
}
.box1 {
  width: 100%;
  height: 1600px;
  background-repeat: no-repeat;
  background-size: cover;

  /* background-attachment: fixed; */
}
.head {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  padding: 150px;
  width: 200px;
  height: 80px;
  background-image: url(../../practice/huddle-landing-page-with-alternating-feature-blocks-master/images/logo.svg);
  background-repeat: no-repeat;
  margin: 60px;
}
.try {
  color: hsl(192, 100%, 9%);
  background-color: white;
  border-radius: 30px;
  height: 70px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  margin: 40px;
  font-weight: bold;
}
.foot {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.left {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  padding-top: 70px;
}
#para1 {
  width: 500px;
  text-align: center;
}
#heading1,
#heading2,
#heading3,
#heading4 {
  font-size: 40px;
  padding-bottom: 30px;
  color: hsl(192, 100%, 9%);
}
#para1,
#para2,
#para3,
#para4 {
  font-size: larger;
  padding-bottom: 80px;
  color: hsl(208, 11%, 55%);
}
.button {
  border-radius: 60px;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  color: white;
  background-color: palevioletred;
}
.try:hover,
.button:hover,
.fb:hover,
.tw:hover,
.in:hover {
  cursor: pointer;
  background-color: yellow;
}
.desktop-image {
  width: 800px;
  height: 580px;
  background-image: url("../../practice/huddle-landing-page-with-alternating-feature-blocks-master/images/illustration-mockups.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  opacity: 1;
}
.middile,
.middile4 {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding-left: 100px;
      padding-right: 100px; */
}

.drk-curve {
  width: 100%;
  height: 300px;
  background-image: url(../../practice/huddle-landing-page-with-curved-sections-master/images/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.drk-curve1 {
  width: 100%;
  height: 300px;
  background-image: url(../../practice/huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.border1,
.border4 {
  margin-top: 40px;
  display: flex;
  height: 500px;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-top: -160px;
  background-color: hsl(207, 100%, 98%);

  /* padding-top: 40px; */
}

.left1,
.left4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 400px;
  margin-left: 40px;
}
.grow_together {
  width: 500px;
  height: 400px;
  background-image: url(../../practice/huddle-landing-page-with-alternating-feature-blocks-master/images/illustration-grow-together.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 80px;
}
.middile3 {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding-left: 100px;
      padding-right: 100px; */
}
.border3 {
  margin-top: 40px;
  display: flex;
  height: 500px;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  /* padding-top: 40px; */
}
.left3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 400px;
  margin-left: 80px;
}
.flowing {
  width: 500px;
  height: 400px;
  background-image: url(../../practice/huddle-landing-page-with-alternating-feature-blocks-master/images/illustration-flowing-conversation.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 40px;
}
.drk-curve2 {
  width: 100%;
  height: 300px;
  background-image: url(../../practice/huddle-landing-page-with-curved-sections-master/images/bg-section-top-desktop-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.drk-curve3 {
  width: 100%;
  height: 300px;
  background-image: url(../../practice/huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-desktop-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.your_user {
  width: 500px;
  height: 400px;
  background-image: url(../../practice/huddle-landing-page-with-alternating-feature-blocks-master/images/illustration-your-users.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 80px;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
}
.banner h1 {
  color: hsl(192, 100%, 9%);
  margin-bottom: 30px;
}
.drk-curve4 {
  width: 100%;
  height: 200px;
  background-image: url(../../practice/huddle-landing-page-with-curved-sections-master/images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.last {
  margin-top: 100px;
  width: 100%;
  height: 315px;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}
.last1 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 150px;
}
.last1_1,
.last1_2,
.last1_3 {
  display: flex;
  flex-direction: row;
  margin: 20px;
  /* justify-content: space-around; */
}
.location {
  background-image: url(../../practice/huddle-landing-page-with-alternating-feature-blocks-master/images/icon-location.svg);
  width: 2rem;
  background-repeat: no-repeat;
  height: 2rem;
  margin-right: 20px;
}
.phone {
  background-image: url(../../practice/huddle-landing-page-with-alternating-feature-blocks-master/images/icon-phone.svg);
  width: 1rem;
  background-repeat: no-repeat;
  height: 1rem;
  margin-right: 12px;
}
.mail {
  background-image: url(../../practice/huddle-landing-page-with-alternating-feature-blocks-master/images/icon-email.svg);
  width: 2rem;
  background-repeat: no-repeat;
  height: 1rem;
  /* margin-right: 8px; */
}
.last0 {
  display: flex;
  flex-direction: column;
}
.logo1 {
  width: 12rem;
  height: 3rem;
  background-image: url(../../practice/huddle-landing-page-with-alternating-feature-blocks-master/images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  margin: 50px;
  background-color: white;
}
.logo1:hover {
  cursor: pointer;
}
.last2,
.last3 {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 70px;
  justify-content: space-around;
  padding: 10px;
  color: hsl(208, 11%, 55%);
}
.last4 {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
  margin: 100px;
  justify-content: space-between;
}
.fb {
  width: 2rem;
  height: 2rem;
  background-image: url("../../images/logo-facebook.svg");
  background-repeat: no-repeat;
}
.tw {
  width: 2rem;
  height: 2rem;
  background-image: url("../../images/logo-twitter.svg");
  background-repeat: no-repeat;
}

.in {
  width: 2rem;
  height: 2rem;
  background-image: url("../../images/logo-instagram.svg");
  background-repeat: no-repeat;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: hsl(192, 100%, 9%);
  width: 100%;
  height: 325px;
  padding: 30px;
  color: hsl(208, 11%, 55%);
}
.footer1 {
  display: flex;
  justify-content: flex-end;
}
/* .banner{
      position: relative;
      margin-left: 500px;
      margin-right: 500px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      padding-left: 600px; 
      border: solid 3px red;
      height: 200px;
      justify-content: space-between center;
  } */
.last1 p {
  color: hsl(208, 11%, 55%);
}
.button0 {
  border-radius: 60px;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  color: white;
  background-color: palevioletred;
  margin-top: 20px;
  margin-left: 10px;
}
input {
  margin-top: 30px;
}
.msg-box {
  display: flex;
}
.no-img {
  width: 3rem;
  height: 3rem;
  background-image: url(../../practice/huddle-landing-page-with-curved-sections-master/images/icon-communities.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.no-img1 {
  width: 3rem;
  height: 3rem;
  background-image: url(../../practice/huddle-landing-page-with-curved-sections-master/images/icon-messages.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.number h1 {
  font-size: 50px;
}
.no-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.number {
  height: 500px;

  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}
.number p {
  font-size: large;
}
