body{
    background-color: hsl(220, 15%, 55%);
}
#div1{
    width: 320px;
    height: 550px;
    padding: 10PX;
    border: solid white;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    margin: auto;
}
img{
    text-align: center;
    width: 280px;
    height: 300px;
    border-radius: 10px;
    margin-top: 15px;
}
h2{ 
    font-size:x-large;
    text-align: justify;
    padding: 20px;
    color: hsl(218, 44%, 22%);
}
p{
    text-align:center;
    font-size:large;
    margin: 25px;
    color: hsl(220, 15%, 55%);
}