
.container1{
    display: flex;
    width: 900px;
    height: 800px;
    border: solid 2px red;
    flex-wrap: wrap;
    padding: 20px;
}
.container2{
    display: flex;
    width: 500px;
    height: 900px;
    /* border: solid 2px green; */
    flex-wrap: wrap;
    /* justify-content: flex-end; */
}
.container{
    /* margin: 10px; */
    width: 1450px;
    align-items:baseline;
    border: solid 2px black;
    display: flex;
    /* padding: 40px; */
    padding-left: 0;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
    /* justify-content: stretch; */
    background-color: hsl(210, 46%, 95%);

}
.box1{
    
    width: 550px;
    height: 300px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(263, 55%, 52%);
    background-image: url(../../practice/testimonials-grid-section-main/testimonials-grid-section-main/images/bg-pattern-quotation.svg);
    /* display: inline-flex; */
    /* flex-direction: row; */
    align-content: space-between;
    /* align-items: center; */
    /* flex-wrap: wrap;
    justify-content: stretch; */
    background-repeat: no-repeat;
    justify-content:end;
}
.box2{
    margin-left: 20px;
    width: 250px;
    height: 300px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(217, 19%, 35%);

}
.box3{
    /* margin-left: 20px; */
    width: 300px;
    height: 300px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);

}
.box4{
    margin-left: 20px;
    width: 500px;
    height: 300px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(219, 29%, 14%);

}
.box5{
    
    margin-left: 20px;
    width: 400px;
    height: 700px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;

}
.container q{
    /* font-size: small; */
    padding-top: 5px;
}
.img1{
    width: 3rem;
    height: 3rem;
    background-image: url(../../practice/testimonials-grid-section-main/testimonials-grid-section-main/images/image-daniel.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
    /* padding-left: 20px; */

    border-radius: 30px;
}
.img2{
    width: 3rem;
    height: 3rem;
    background-image: url(../../practice/testimonials-grid-section-main/testimonials-grid-section-main/images/image-jonathan.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
    /* padding-left: 20px; */

    border-radius: 30px;
}
.img3{
    width: 3rem;
    height: 3rem;
    background-image: url(../../practice/testimonials-grid-section-main/testimonials-grid-section-main/images/image-patrick.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
    /* padding-left: 20px; */

    border-radius: 30px;
}
.img4{
    width: 3rem;
    height: 3rem;
    background-image: url(../../practice/testimonials-grid-section-main/testimonials-grid-section-main/images/image-jeanette.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
    /* padding-left: 20px; */

    border-radius: 30px;
}
.img5{
    width: 3rem;
    height: 3rem;
    background-image: url(../../practice/testimonials-grid-section-main/testimonials-grid-section-main/images/image-kira.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
    /* padding-left: 20px; */

    border-radius: 30px;
}
/* .inline{
    display: inline-flex;
    align-content: space-between;
    align-items: center;
    border-radius: 10px; 
    margin-top: 1.5rem;
    padding: 1.5rem;
    justify-content: space-evenly;
    font-size: 1rem;
    font-weight: 900;
    gap: 1rem;
    flex-direction: row;
    
} */
.name1,.name2,.name3,.name4,.name5{
    padding-left: 70px;
    color: hsl(0, 0%, 81%);
    /* display: inline;
    border: solid 1px black; */
    /* margin-bottom: 1rem; */
    /* padding-top: -5px; */
    /* margin-left: 30px; */

}
.box1 p,.box2 p,.box3 p,.box4 p,.box5 p{
    line-height: 10px;

}
.box1 p{
    /* float: left; */
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}