* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}
.section,
.bg-img {
  display: flex;
}
.bg-img {
  background-image: url(../../../practice/clipboard-landing-page-master/images/bg-header-desktop.png);
  width: 100%;
  height: 250px;
}
.bg-img,
.mobile {
  justify-content: center;
}
.bg-img,
.after-header,
.after-buttons,
.mobile {
  align-items: center;
}
.logo {
  width: 5rem;
  height: 5rem;
}
.logo,
.para1,
.para2,
.mobile {
  text-align: center;
}
.after-header {
  display: flex;
  flex-direction: column;
}
.para1 {
  margin-top: 20px;
  width: 600px;
  color: hsl(201, 11%, 66%);
}
.button-horizontal {
  width: 450px;
  height: 70px;
}
.buttons {
  margin-top: 30px;
  color: hsl(210, 10%, 33%);
}
.button-horizontal p {
  border-radius: 90px;
  padding: 15px;
  font-family: "Bai Jamjuree", sans-serif;
}
.button1 {
  margin-left: 20px;
  margin-right: 50px;
  background-color: hsl(171, 66%, 44%);
  text-decoration: none;
}
.button1:hover,
.button2:hover {
  cursor: pointer;
  border: solid 2px blue;
}
.flex2_1:hover,
.flex3:hover,
.fb:hover,
.tw:hover,
.in:hover {
  cursor: pointer;
  text-decoration: underline;
}
.button2 {
  background-color: hsl(233, 100%, 69%);
}
.after-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.para2 {
  margin-top: 20px;
  width: 600px;
  font-size: 16px;
  color: hsl(201, 11%, 66%);
}
.desktop {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.desktop-img {
  width: 550px;
  height: 400px;
}
.content-box {
  width: 350px;
  height: 400px;
  justify-content: space-around;
  margin: 70px;
  margin-top: 20px;
  margin-left: 200px;
}
.content-box_top,
.content-box_middle,
.content-box_bottom,
.mobile,
.content-box {
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
}
.para3-1,
.para3-2,
.para3-3,
.para4-1,
.para4-2,
.para5-1,
.para5-2,
.para5-3 {
  font-size: 15px;
  margin-top: 10px;
  color: hsl(201, 11%, 66%);
}
.mobile {
  margin-top: 60px;
}
.mobile-img {
  width: 600px;
  height: 400px;
  background-image: url();
}
.content-box1 {
  width: 500px;
  height: 200px;
}
.after-mobile {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-around;
  margin-top: 100px;
}
.text-img {
  width: 3.6rem;
}
.text-img,
.black-img {
  height: 3.5rem;
}
.black-img {
  width: 4rem;
}

.preview-img {
  width: 6rem;
  height: 3.5rem;
}
.preview-icons,
.black-icons,
.text-icons {
  width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
}
.flex1,
.flex2,
.flex3,
.preview-icons,
.text-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons {
  margin-top: 100px;
  margin-bottom: 100px;
}
.icons,
.footer1,
.button-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.google {
  width: 14rem;
  height: 4rem;
}
.ibm {
  width: 11rem;
  height: 4rem;
}
.micro {
  width: 14rem;
  height: 3rem;
}
.hp {
  width: 15rem;
  height: 6rem;
}
.vg {
  width: 20rem;
  height: 4.8rem;
}
.google,
.ibm,
.micro,
.hp,
.vg,
.logo1,
.preview-img,
.text-img,
.black-img,
.mobile-img,
.desktop-img,
.logo,
.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
}
.footer1 {
  background-color: hsl(201, 11%, 66%);
  height: 150px;
  color: hsl(210, 10%, 33%);
}
.logo1 {
  width: 3rem;
  height: 3rem;
  display: flex;
}
.footer1-1,
.social-media {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.footer1-1 {
  justify-content: space-between;
}
.footer1 ul li {
  list-style: none;
}
.flex1,
.flex2,
.flex3 {
  margin-left: 70px;
  margin-bottom: 40px;
}
.flex1 div,
.flex2 div,
.flex3 p {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.fb,
.tw,
.in {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  padding: 20px;
}
.fb {
  background-image: url("../../../practice/clipboard-landing-page-master/images/icon-facebook.svg");
}
.tw {
  background-image: url("../../../practice/clipboard-landing-page-master/images/icon-twitter.svg");
}
.in {
  background-image: url("../../../practice/clipboard-landing-page-master/images/icon-instagram.svg");
}
.flex2-1:hover {
  cursor: pointer;
  text-decoration: underline;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
