@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Barlow&family=Barlow+Condensed:wght@400;700&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(229, 57%, 11%);
  background-image: url(../../../practice/fylo-data-storage-component-master/fylo-data-storage-component-master/images/bg-desktop.png);
  background-position: bottom;
  font: 14px "Raleway", sans-serif;
  min-height: 100vh;
  margin: 0px 0px 100px 100px;
}
.section-part,
.right,
.file-folder-upload,
.left,
.gb,
.popup,
.outer {
  display: flex;
}
.section-part {
  padding: 250px 0px 0px 200px;
}
.right,
.outer,
.left,
.play,
.color,
.popup {
  border-radius: 10px;
}
.right {
  background-color: hsl(228, 56%, 26%);
  border-top-right-radius: 100px;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  padding-left: 50px;
  width: 300px;
}
.logo {
  background-image: url(../../../practice/fylo-data-storage-component-master/fylo-data-storage-component-master/images/logo.svg);
  background-size: contain;
  height: 6rem;
  margin-left: -14px;
  width: 8rem;
}
.file-folder-upload {
  align-items: center;
  margin-left: -30px;
}
.outer,
.popup {
  align-items: center;
}
.outer {
  background-color: hsl(229, 57%, 11%);
  height: 40px;
  justify-content: center;
  margin: -30px 0px 0px 10px;
  width: 40px;
}
.file,
.folder,
.upload,
.logo,
body {
  background-repeat: no-repeat;
}
.file,
.folder,
.upload {
  height: 3rem;
  width: 3rem;
}
.file {
  background-image: url(../../../practice/fylo-data-storage-component-master/fylo-data-storage-component-master/images/icon-document.svg);
  margin: 20px 0px 0px 10px;
}
.folder {
  background-image: url(../../../practice/fylo-data-storage-component-master/fylo-data-storage-component-master/images/icon-folder.svg);
  margin: 20px 0px -5px 8px;
}
.upload {
  background-image: url(../../../practice/fylo-data-storage-component-master/fylo-data-storage-component-master/images/icon-upload.svg);
  margin: 20px 0px -5px 8px;
}
.left {
  background-color: hsl(228, 56%, 26%);
  color: hsl(243, 100%, 93%);
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  margin: 45px 0px 0px 30px;
  padding: 20px 30px 0px 30px;
  width: 450px;
}
.play {
  background-color: hsl(229, 57%, 11%);
  margin-top: -30px;
  padding: 2px;
}
.color {
  background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  margin-right: 100px;
  padding: 2px;
}
.ball {
  background-color: white;
  border-radius: 80px;
  margin-left: 265px;
  padding: 5px;
}

.gb {
  justify-content: space-between;
  margin-top: -50px;
}
.popup {
  background-color: white;
  height: 60px;
  margin-left: -180px;
  padding-left: 20px;
  width: 150px;
}
#no {
  font-size: x-large;
  font-weight: bold;
  padding-right: 5px;
}
.folder,
.file,
.upload,
.popup,
.play:hover {
  cursor: pointer;
}
span {
  font-weight: bold;
}
