a:link{
    font-size: 35px;
    text-decoration: none;
    color: goldenrod;
}
a:visited{
    color: rgb(127, 255, 133);
}
a:hover{
    color:blue;
}
a:active{
    color: red;
}
.dropdown-content a{
    display:none;
}