.box{
    width: 200px;
    height: 200px;
    background-color: olivedrab;
    position: relative;
    animation-name: anim2;/* this is defined below @key frame anim*/
    animation-duration: 4s;/* set animation duration in second*/
}
/*keyframes are the important */
/* @keyframes anim{
    0%{
        left: 0;
        top: 0;
        background-color: aqua;

    }
    100%{
        left: 500px;
        top: 0;
        background-color: green;

    }
} */
@keyframes anim2{
    0%{
        left: 0px;
        top: 0px;
        background-color: aqua;

    }
    25%{
        left: 500px;
        top: 0px;
        background-color: green;

    }
    50%{
        left: 500px;
        top: 500px;
        background-color: greenyellow;

    }
    75%{
        left: 0px;
        top: 500px;
        background-color: blue;

    }
    100%{
        left: 0px;
        top: 0px;
        background-color:aqua;

    }
}