:root {
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Strong-Cyan: hsl(171, 66%, 44%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}
.bg-img,
.section {
  display: flex;
}
.bg-img {
  background-image: url(../images/bg-header-desktop.png);
  height: 250px;
  width: 100%;
}
.bg-img,
.mobile {
  justify-content: center;
}
.after-header,
.after-buttons,
.bg-img,
.mobile {
  align-items: center;
}
.logo {
  height: 5rem;
  width: 5rem;
}
.logo,
.mobile,
.para1,
.para2 {
  text-align: center;
}
.after-header {
  display: flex;
  flex-direction: column;
}
.para1 {
  color: var(--Grayish-Blue);
  margin-top: 20px;
  width: 600px;
}
.button-horizontal {
  height: 70px;
  width: 450px;
}
.buttons {
  color: var(--Dark-Grayish-Blue);
  margin-top: 30px;
}
.button-horizontal p {
  border-radius: 90px;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 15px;
}
.button1 {
  background-color: var(--Strong-Cyan);
  margin-left: 20px;
  margin-right: 50px;
  text-decoration: none;
}
.button1:hover,
.button2:hover {
  border: solid 2px blue;
  cursor: pointer;
}
.flex2_1:hover,
.install:hover,
.fb:hover,
.in:hover,
.tw:hover {
  cursor: pointer;
  text-decoration: underline;
}
.button2 {
  background-color: var(--Light-Blue);
}
.after-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.para2 {
  color: var(--Grayish-Blue);
  font-size: 16px;
  margin-top: 20px;
  width: 600px;
}
.desktop {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.desktop-img {
  height: 400px;
  width: 550px;
}
.content-box {
  height: 400px;
  justify-content: space-around;
  margin-left: 200px;
  margin-top: 20px;
  margin: 70px;
  width: 350px;
}
.content-box_top,
.content-box_middle,
.content-box_bottom,
.mobile,
.content-box {
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3 {
  color: var(--Dark-Grayish-Blue);
}
.para3-1,
.para3-2,
.para3-3,
.para4-1,
.para4-2,
.para5-1,
.para5-2,
.para5-3 {
  color: var(--Grayish-Blue);
  font-size: 15px;
  margin-top: 10px;
}
.mobile {
  margin-top: 60px;
}
.mobile-img {
  height: 400px;
  width: 600px;
}
.content-box1 {
  height: 200px;
  width: 500px;
}
.after-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  margin-top: 30px;
}
.text-img {
  width: 3.6rem;
}
.text-img,
.black-img {
  height: 3.5rem;
}
.black-img {
  width: 4rem;
}
.preview-img {
  height: 3.5rem;
  width: 6rem;
}
.preview-icons,
.black-icons,
.text-icons {
  align-items: center;
  height: 200px;
  text-align: center;
  width: 200px;
}
.faq-column,
.privacy-column,
.install,
.preview-icons,
.text-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons {
  margin-bottom: 100px;
  margin-top: 100px;
}
.icons,
.footer,
.button-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.google {
  height: 4rem;
  width: 14rem;
}
.ibm {
  height: 4rem;
  width: 11rem;
}
.micro {
  height: 3rem;
  width: 14rem;
}
.hp {
  height: 6rem;
  width: 15rem;
}
.vg {
  height: 4.8rem;
  width: 20rem;
}
.google,
.ibm,
.micro,
.hp,
.vg,
.logo1,
.preview-img,
.text-img,
.black-img,
.mobile-img,
.desktop-img,
.logo,
.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  background-color: var(--Grayish-Blue);
  color: var(--Dark-Grayish-Blue);
  height: 150px;
}
.logo1 {
  display: flex;
  height: 3rem;
  width: 3rem;
}
.footer-content-left,
.social-media {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.footer-content-left {
  justify-content: space-between;
}
.footer ul li {
  list-style: none;
}
.faq-column,
.privacy-column,
.install {
  margin-bottom: 40px;
  margin-left: 70px;
}
.faq-column div,
.privacy-column div,
.install p {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.fb,
.tw,
.in {
  background-repeat: no-repeat;
  height: 2rem;
  padding: 20px;
  width: 2rem;
}
.fb {
  background-image: url("../images/icon-facebook.svg");
}
.tw {
  background-image: url("../images/icon-twitter.svg");
}
.in {
  background-image: url("../images/icon-instagram.svg");
}
.footer-info:hover {
  cursor: pointer;
  text-decoration: underline;
}
.fb:hover,
.tw:hover,
.in:hover {
  background-color: yellow;
  border: 2px solid white;
  border-radius: 100%;
}
