@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Barlow&family=Barlow+Condensed:wght@400;700&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&family=Rubik:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1,
menu {
  font-family: "Raleway", sans-serif;
}
section {
  background-color: hsl(218, 28%, 13%);
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.header-logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 8rem;
}
.head {
  background-color: hsl(219, 30%, 18%);
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-top: 40px;
}
.menu {
  color: hsl(238, 22%, 44%);
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.after-head {
  align-items: center;
  background-color: hsl(219, 30%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: -20px;
  margin-bottom: 130px;
  margin-top: -50px;
  opacity: 0.99;
  position: relative;
  text-align: center;
}
.after-head h1 {
  color: white;
}
.after-head p,
.after-curve-img p {
  color: hsl(238, 22%, 44%);
}
.button {
  background-color: hsl(198, 60%, 50%);
  border-radius: 60px;
  color: white;
  margin-top: -100px;
  padding-left: 60px;
  padding-right: 60px;
  padding: 20px;
}
.left {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}
.illustration-stay-productive-left h1 {
  color: white;
  width: 650px;
}
.illustration-stay-productive-left p {
  color: hsl(238, 22%, 44%);
}
#para1 {
  margin-bottom: 100px;
  text-align: center;
  width: 580px;
}
.illustration-intro {
  background-image: url(../images/illustration-intro.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  margin-left: 50px;
  width: 600px;
}
.curve-img {
  background-color: hsl(219, 30%, 18%);
  background-image: url(../images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  margin-top: -130px;
  width: 100%;
}
.after-curve-img {
  align-items: center;
  background-color: hsl(218, 28%, 13%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -80px;
}
.after-curve-img h1 {
  color: white;
}
.mob,
.shield {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  width: 350px;
}
.comp {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
.comp-mob {
  background-image: url(../images/icon-access-anywhere.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 3rem;
}
.comp-shield {
  background-image: url(../images/icon-security.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 3rem;
}
.tick-tick {
  background-image: url(../images/icon-collaboration.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 3rem;
}
.tick-file {
  background-image: url(../images/icon-any-file.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 3rem;
}
.left h1,
.illustration-stay-productive-left h1 {
  font-size: xx-large;
  margin-bottom: 30px;
}
.content2 {
  background-color: hsl(218, 28%, 13%);
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.illustration-stay-productive {
  background-image: url(../images/illustration-stay-productive.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 100%;
}
#tic-pic {
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 10px;
  margin-left: 150px;
  margin-top: -12px;
  width: 10px;
}
.illustration-stay-productive-left {
  height: 600px;
  padding-left: 40px;
  width: 700px;
}
.part2 {
  display: flex;
  justify-content: space-between;
}
.right1 {
  background-image: url(../images/illustration-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 600px;
}
.green {
  margin-top: 30px;
}
.line {
  background-color: hsl(170, 45%, 43%);
  margin-top: 10px;
  padding: 1px;
  width: 25%;
}
.green p {
  color: hsl(170, 45%, 43%);
}
.card-container {
  background-color: hsl(218, 28%, 13%);
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: -250px;
  padding: 50px;
}
.card {
  background-color: hsl(218, 28%, 13%);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  margin-top: -70px;
  padding: 40px;
  position: top left;
}
.card-para {
  background-color: hsl(219, 30%, 18%);
  box-shadow: 5px 5px 10px hsl(0, 0%, 75%);
  color: hsl(238, 22%, 44%);
  display: flex;
  flex-direction: column;
  font-size: x-small;
  margin-right: 20px;
  padding: 20px;
}
.quote-img {
  background-image: url(../images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 5rem;
  margin-left: 30px;
  opacity: 0.99;
  width: 5rem;
}
.img {
  background-image: url(../images/profile-1.jpg);
}
.img1 {
  background-image: url(../images/profile-2.jpg);
}
.img2 {
  background-image: url(../images/profile-3.jpg);
}
.img,
.img1,
.img2 {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
.avetare {
  display: flex;
  margin-top: 20px;
}
.avetare p {
  font-size: small;
}
.name p {
  margin-bottom: 3px;
  margin-left: 5px;
}
.banner {
  align-items: center;
  background-color: hsl(218, 28%, 13%);
  box-shadow: 1px 1px 15px hsl(216, 53%, 9%);
  color: hsl(238, 22%, 44%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  margin: 40px 300px;
  opacity: 0.99;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}
.form-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.banner-content {
  width: 500px;
}
.banner-content h1 {
  color: white;
  margin-bottom: 30px;
}
.form-block input {
  border-radius: 10px;
  border-style: none;
  padding: 10px 80px;
}
.button3 input {
  background-color: hsl(224, 93%, 58%);
  border-radius: 10px;
  color: white;
  margin-left: 20px;
  padding: 10px 60px;
}
.footer-logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  height: 5rem;
  margin-top: 100px;
  width: 12rem;
}
.footer {
  background-color: hsl(216, 53%, 9%);
  color: hsl(208, 11%, 55%);
  display: flex;
  flex-direction: column;
  height: 325px;
  justify-content: flex-end;
  margin-top: -80px;
  padding: 30px;
  width: 100%;
}
.head {
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-between;
  width: 100%;
}
.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  height: 80px;
  margin: 60px;
  padding: 150px;
  width: 200px;
}
.fb:hover,
.tw:hover,
.in:hover {
  background-color: yellow;
  cursor: pointer;
}
.menu-item,
.menu-item1,
.menu-item2,
.footer-info:hover {
  cursor: pointer;
}
.footer-block {
  display: flex;
  flex-direction: row;
  height: 315px;
  justify-content: baseline;
  width: 100%;
}
.phone-mail-block {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-left: 40px;
  margin-top: 80px;
  width: 400px;
}
.last1_1,
.phone-block,
.mail-block {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.mail {
  background-image: url(../images/icon-email.svg);
  width: 2rem;
}
.phone {
  background-image: url(../images/icon-phone.svg);
  width: 1rem;
}
.mail,
.phone {
  background-repeat: no-repeat;
  height: 1rem;
  margin-right: 12px;
}
.last0 {
  display: flex;
}
.footer-info-block {
  color: hsl(208, 11%, 55%);
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin: 70px;
  padding: 10px;
  width: 300px;
}
.social-media {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  margin: 100px;
  width: 300px;
}
.fb {
  background-image: url("../../clipboard-landing-page-master/images/icon-facebook.svg");
}
.tw {
  background-image: url("../../clipboard-landing-page-master/images/icon-twitter.svg");
}
.in {
  background-image: url("../../clipboard-landing-page-master/images/icon-instagram.svg");
}
.fb,
.tw,
.in {
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
}
form {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 500px;
}
.button3 {
  background-color: hsl(223, 87%, 63%);
  color: white;
  margin-left: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}
.button3:hover,
.button:hover {
  box-shadow: 1px 5px 30px hsl(223, 87%, 63%);
}
#msg {
  color: hsl(354, 100%, 66%);
  margin-left: -200px;
  margin-top: 20px;
}
.green:hover {
  cursor: pointer;
}
