body {
  display: flex;
  background-image: url(https://cdn.wallpapersafari.com/55/39/jgwOD4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 1;
}
section {
  width: 1400px;
  display: flex;
  justify-content: space-evenly;
}
li {
  padding-top: 10px;
}
th {
  padding-top: 10px;
}
caption {
  padding-top: 20px;
}
.table2 caption {
  width: 250px;
}
