@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Barlow&family=Barlow+Condensed:wght@400;700&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Montserrat:wght@700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&family=Rubik:wght@400;500;700&display=swap");
:root {
  --container-box-shadow: -2px 10px 24px -1px hsl(208, 11%, 55%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Pink: hsl(322, 100%, 66%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
section {
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 1600px;
  width: 100%;
}
.head {
  height: 200px;
  width: 100%;
}
h1 {
  font-family: "Poppins", sans-serif;
}
.banner .grow-together-box,
.flowing-box,
.your-user-content-box,
.desktop-image-block,
.head,
.your-user-content,
.no-left {
  justify-content: space-between;
}
.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  height: 80px;
  margin: 60px;
  padding: 150px;
  width: 200px;
}
.try {
  color: hsl(192, 100%, 9%);
  background-color: var(--Very-Pale-Blue);
  border-radius: 30px;
  height: 70px;
  padding: 20px 50px;
  font-size: 20px;
  margin: 40px;
  font-weight: bold;
}
.desktop-image-block,
.desktop-image-block-content,
.grow-together-block,
.your-user-block,
.no-left {
  display: flex;
  flex-direction: column;
}
.desktop-image-block,
.desktop-image-block-content {
  justify-content: center;
  align-items: center;
}
.desktop-image-block {
  height: 1000px;
  width: 100%;
}
.desktop-image-block-content {
  padding-top: 70px 0px 0px 60px;
  width: 900px;
}
.heading,
.your-user-heading {
  color: var(--Very-Dark-Cyan);
  font-size: 40px;
  padding-bottom: 30px;
}
.para1,
.para2,
.para3,
.para4 {
  color: var(--Very-Dark-Cyan);
  font-size: larger;
  padding-bottom: 80px;
}
.para1 {
  color: var(--Very-Dark-Cyan);
  text-align: center;
  width: 500px;
}
.button {
  background-color: var(--Light-Pink);
  border-radius: 60px;
  color: var(--Very-Pale-Blue);
  padding: 20px 60px;
}
.desktop-image {
  background-image: url(../images/screen-mockups.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  opacity: 1;
  width: 800px;
  margin-top: 100px;
}
.number {
  height: 500px;
  justify-content: space-around;
  margin-top: 100px;
}
.number p {
  color: var(--Very-Dark-Cyan);
  font-size: large;
}
.number h1 {
  font-size: 50px;
}
.no-img {
  background-image: url(../images/icon-communities.svg);
  height: 3rem;
  width: 3rem;
}
.no-img1 {
  background-image: url(../images/icon-messages.svg);
  height: 3rem;
  width: 3rem;
}
.grow-together-block,
.your-user-block {
  height: 900px;
  justify-content: space-around;
  width: 100%;
}
.drk-curve {
  background-image: url(../images/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 100%;
}
.grow-together-box,
.flowing-box,
.your-user-content-box,
.head,
.lorem-block-1,
.lorem-block-2,
.mail-box,
.your-user-content,
.flowing,
.number {
  display: flex;
  flex-direction: row;
}
.grow-together-box,
.your-user-content-box {
  background-color: var(--Very-Pale-Blue);

  height: 500px;
  margin-top: -160px;
  padding: 20px;
}
.grow-together-content,
.your-user-content {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-left: 40px;
  width: 600px;
}
.grow-together {
  background-image: url(../images/illustration-grow-together.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-left: 80px;
  width: 500px;
}
.drk-curve-bottom {
  background-image: url(../images/bg-section-bottom-desktop-1.svg);
  height: 300px;
  width: 100%;
}
.flowing-img {
  height: 600px;
  justify-content: space-around;
  width: 100%;
}
.flowing-box {
  height: 500px;
  margin-top: 40px;
  padding: 20px;
}
.flowing-img {
  background-image: url(../images/illustration-flowing-conversation.svg);
  height: 400px;
  margin-left: 40px;
  width: 500px;
}
.flowing-box-content {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-left: 80px;
  width: 600px;
}
.your-user-curve {
  background-image: url(../images/bg-section-top-desktop-2.svg);
  height: 300px;
  width: 100%;
}
.your-user-content {
  height: 100px;
  margin: 100px;
}
.your-user {
  background-image: url(../images/illustration-your-users.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-left: 80px;
  width: 500px;
}
.your-user-curve-bottom {
  background-image: url(../images/bg-section-bottom-desktop-2.svg);
  height: 300px;
  width: 100%;
}
.banner {
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.banner h1 {
  color: var(--Very-Dark-Cyan);
  margin-bottom: 30px;
}
.footer {
  background-color: var(--Very-Dark-Cyan);
  color: var(--Very-Pale-Blue);
  height: 3-img55px;
  justify-content: flex-end;
  margin-top: -150px;
  padding: 30px;
  width: 100%;
}
.your-user-curve,
.your-user-curve-bottom,
.footer-curve,
.drk-curve-bottom,
.flowing-img,
.footer-logo,
.no-img,
.no-img1 {
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-curve {
  background-image: url(../images/bg-footer-top-desktop.svg);
  height: 300px;
  margin-top: 50px;
}
.footer-box {
  display: flex;
  flex-direction: row;
  height: 315px;
  justify-content: baseline;
  margin-top: 100px;
  padding-bottom: 40px;
  width: 1200px;
}
.banner,
.footer,
.footer-box-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  background-color: var(--Very-Pale-Blue);
  background-image: url(../images/logo.svg);
  height: 3rem;
  margin: 50px;
  width: 12rem;
}
.lorem-block {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 400px;
}
.lorem,
.phone-block,
.mail-box {
  margin: 20px;
}
.lorem-block p {
  color: var(--container-box-shadow);
}
.phone,
.mail {
  height: 1rem;
  background-repeat: no-repeat;
}
.phone {
  background-image: url(../images/icon-phone.svg);
  margin-right: 12px;
  width: 1rem;
}
.mail-box p {
  margin-top: -20px;
}
.mail {
  background-image: url(../images/icon-email.svg);
  margin-top: -20px;
  width: 2rem;
}
.newsletter {
  margin-left: 50px;
}
.newsletter,
.last3 {
  color: var(--container-box-shadow);
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 70px;
  justify-content: space-around;
  padding: 10px;
  width: 300px;
}
.msg-box {
  display: flex;
}
.msg-box input {
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  margin-top: 30px;
}
.subs-button {
  background-color: var(--Light-Pink);
  border-radius: 60px;
  color: var(--Very-Pale-Blue);
  padding: 10px 60px;
  margin: 20px 0px 0px 10px;
}
.footer-logo:hover {
  cursor: pointer;
}
.button:hover,
.subs-button:hover,
.fb:hover,
.in:hover,
.try:hover,
.tw:hover {
  background-color: yellow;
  cursor: pointer;
  color: black;
}
.curve {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
