@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Barlow&family=Barlow+Condensed:wght@400;700&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&family=Rubik:wght@400;500;700&display=swap");
:root {
  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Light-Grayish-Violet);
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.curve1 {
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  height: 600px;
  margin-left: -50px;
  width: 400px;
}
.container {
  display: flex;
  height: 600px;
  margin-top: -600px;
  margin-left: 270px;
  width: 900px;
}
.mobile {
  border-radius: 50px;
  height: 630px;
  margin-top: 50px;
  padding: 10px;
  width: 300px;
}
.mobile,
.middle-para2,
.middle-para3,
.msg-box {
  background-color: var(--White);
}
.outer-line {
  border-radius: 50px;
  height: 610px;
  width: 280px;
}
.camera {
  border-radius: 50px;
  background-color: var(--White);
  height: 20px;
  margin-left: 60px;
  width: 150px;
}
.upper {
  border: 1px solid var(--White);
  background-image: linear-gradient(hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 80px;
  margin-top: -20px;
  position: relative;
  width: 280px;
}
.up-mid {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}
.arrow {
  color: var(--White);
  margin-top: 10px;
  margin-left: -20px;
}
img {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  height: 2rem;
  margin-left: 10px;
  width: 2rem;
  cursor: pointer;
}
.name {
  margin-left: 10px;
}
.dot {
  padding-left: 50px;
}
ul li {
  color: var(--Very-Light-Magenta);
  height: 6px;
}
.middle {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--Light-Grayish-Violet);
  display: flex;
  flex-direction: column;
  height: 530px;
}
.middle-para1 {
  border-radius: 10px;
  color: var(--Moderate-Violet);
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  width: 200px;
}
.dog-img-container {
  display: flex;
  margin-top: 10px;
  margin-left: 80px;
}
.dog1,
.dog2,
.dog3 {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  height: 3rem;
  margin: 5px;
  cursor: pointer;
  width: 3rem;
}
.middle-para2,
.middle-para3 {
  border-radius: 10px;
  color: var(--Desaturated-Dark-Violet);
  padding: 5px;
  margin-top: 10px;
}
.middle-para2 {
  height: 50px;
  margin-left: 80px;
  width: 180px;
}
.middle-para3 {
  height: 30px;
  margin-left: 100px;
  width: 160px;
}
.middle-para4 {
  border-radius: 10px;
  color: var(--Moderate-Violet);
  height: 80px;
  margin-left: 10px;
  margin-top: 10px;
}
.middle-para4,
.curve2,
.middle-para1 {
  background-color: var(--Grayish-Blue);
}
.middle-div1 {
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 30px;
  margin: 10px 0px 0px 10px;
}
.middle-para4,
.middle-div1 {
  padding: 5px;
  width: 200px;
}
span {
  font-size: large;
  font-weight: bold;
  margin-left: 30px;
}
#doller {
  margin-left: 50px;
}
.msg-box {
  border-radius: 60px;
  color: var(--Grayish-Blue);
  height: 40px;
  margin: 10px 0px 0px 20px;
  padding: 5px;
  width: 240px;
}
.send {
  background-color: var(--Very-Dark-Desaturated-Violet);
  border-radius: 50%;
  color: var(--White);
  margin-left: 80px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}
.center-para {
  margin-top: 300px;
  margin-left: 100px;
  margin-right: -50px;
}
.center-para h1 {
  color: var(--Very-Dark-Desaturated-Violet);
  font-size: 50px;
}
.center-para p {
  color: var(--Grayish-Blue);
  font-size: 20px;
  margin-top: 30px;
}
.curve2 {
  border-top-left-radius: 200px;
  height: 550px;
  margin-top: -440px;
  margin-left: 1100px;
  opacity: 0.1;
  width: 300px;
}
.msg-box:hover {
  border: 2px solid black;
}
