@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --Dark-Grayish-Blue1: hsl(236, 9%, 61%);
  --Dark-Grayish-Blue2: hsl(234, 11%, 52%);
  --Light-Grayish-Blue1: hsl(233, 11%, 84%);
  --Light-Grayish-Blue2: hsl(234, 39%, 85%);
  --Light-Grayish-Blue3: hsl(236, 33%, 92%);
  --main-font: "Josefin Sans", sans-serif;
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Very-Dark-Grayish-Blue1: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue2: hsl(235, 19%, 35%);
  --Very-Dark-Grayish-Blue3: hsl(237, 14%, 26%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Very-Dark-Blue);
  font-family: var(--main-font);
  font-size: 18px;
  height: 100vh;
  width: 100%;
}
.banner-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  width: 100%;
}
.banner {
  align-items: center;
  background-image: url(../images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: -40vh;
  width: 500px;
}
.header h1 {
  color: white;
  font-size: xx-large;
  letter-spacing: 10px;
  margin-right: 330px;
  text-transform: uppercase;
}
.todo-main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: -50vh;
  background-color: white;
  height: 60px;
  margin-bottom: 30px;
  width: 500px;
}
/*.form {
  height: 90px;
  margin-left: -50px;
  width: 100%;
}
form input {
  background-color: var(--Very-Dark-Desaturated-Blue);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 260px;
  width: 100%;
}
input::placeholder {
  color: white;
  letter-spacing: 2px;
  padding-left: -150px;
}
.footer {
  border: 1px solid red;
}
*/
.footer-middle {
  display: flex;
  justify-content: space-between;

  width: 150px;
}
.footer {
  display: flex;
  background-color: white;
  font-size: 15px;
  height: 30px;
  justify-content: space-between;
  padding: 10px 20px;
  width: 500px;
}
.todo-main input {
  border-style: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  width: 500px;
}
.list {
  align-items: center;

  display: flex;
  justify-content: center;
}
/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  margin-top: -5px;
  font-size: 30px;
}
.round {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: blue;
}
.close:hover {
  color: white;
}

/* Style the header */

.header {
  margin-bottom: 50px;
}
/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  margin: 7px;
  padding: 5px;
  width: 5%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100%;
  height: 25px;
}

.addBtn:hover {
  background-color: #bbb;
}
#myUL span input {
  width: 20px;
  height: 20px;
  background-color: red;
}
#check {
  border-style: none;
  outline: none;
  border-radius: 100%;
}
.drag p {
  margin-top: 50px;
  text-align: center;
}
