* {
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
}
main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
section {
  display: flex;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 600px;
  width: 1000px;
}
.left {
  background-image: url(../images/bg-pattern-desktop.svg);
  padding: 40px;
  padding-left: 70px;
  padding-right: 80px;
  width: 60%;
}
.left,
.content {
  display: flex;
  flex-direction: column;
}
.left,
.image,
.logo,
button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.image {
  background-image: url(../images/hero-desktop.jpg);
  width: 40%;
}
.logo {
  background-image: url(../images/logo.svg);
  height: 1.7rem;
  width: 8rem;
}
.content {
  justify-content: space-around;
  margin-top: 60px;
}
.content h1 {
  color: hsl(0, 6%, 24%);
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.heading span {
  color: hsl(0, 93%, 68%);
}
.para {
  color: hsl(0, 36%, 70%);
  margin-top: 10px;
  width: 300px;
}
.email p {
  border-radius: 20px;
  padding-left: 20px 20px 0px 0px;
  padding: 10px;
}
button {
  background-color: hsl(0, 36%, 70%);
  background-image: url(../images/icon-arrow.svg);
  border-radius: 15px;
  height: 2rem;
  padding-bottom: 10px;
  margin-top: 20px;
  outline: none;
  width: 3rem;
}
.mail {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.e form input {
  border-radius: 20px;
  color: hsl(0, 36%, 70%);
  padding: 10px;
}
.mail button {
  margin-left: -250px;
}
